@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  @page {
    margin: 20mm;
    size: A4;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  nav,
  button,
  .hidden-print {
    display: none !important;
  }
}

.name-animation {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.name-animation span {
  opacity: 0;
  /* animation: fadeInOut 1.5s ease-in-out infinite; */
  animation: fadeIn 3s steps(1, end) forwards, delayLoop 5s linear infinite;
}

.name-animation span:last-child {
  animation: fadeIn 3s steps(1, end) forwards, delayLoop 5s linear infinite;
  animation-delay: 3s; /* Total delay before looping */
}

.name-animation span:nth-child(1) {
  animation-delay: 0s;
}
.name-animation span:nth-child(2) {
  animation-delay: 0.1s;
}
.name-animation span:nth-child(3) {
  animation-delay: 0.2s;
}
.name-animation span:nth-child(4) {
  animation-delay: 0.3s;
}
.name-animation span:nth-child(5) {
  animation-delay: 0.4s;
}
.name-animation span:nth-child(6) {
  animation-delay: 0.5s;
}
.name-animation span:nth-child(8) {
  animation-delay: 0.6s;
}
.name-animation span:nth-child(9) {
  animation-delay: 0.7s;
}
.name-animation span:nth-child(10) {
  animation-delay: 0.8s;
}
.name-animation span:nth-child(11) {
  animation-delay: 0.9s;
}
.name-animation span:nth-child(12) {
  animation-delay: 1s;
}
.name-animation span:nth-child(13) {
  animation-delay: 1.1s;
}
.name-animation span:nth-child(15) {
  animation-delay: 1.2s;
}
.name-animation span:nth-child(16) {
  animation-delay: 1.3s;
}
.name-animation span:nth-child(17) {
  animation-delay: 1.4s;
}
.name-animation span:nth-child(18) {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delayLoop {
  0%,
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* @keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
} */

/* .name-animation::after {
  content: "";
  animation: loopDelay 10s ease-in-out infinite;
}

@keyframes loopDelay {
  0%,
  85% {
    opacity: 0;
    transform: translateX(-100%);
  }
} */
